.headerCheckList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 46rem;
  margin-top: 3rem;
  font-size: 0.875rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-400);
}

.headerCheckList .createdHeaderCheck {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headerCheckList .sucessHeaderCheck {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headerCheckList .createdHeaderCheck h3 {
  color: var(--blue);
  font-weight: bold;
}

.headerCheckList .createdHeaderCheck span {
  color: var(--gray-200);
  background-color: var(--gray-500);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;  font-size: 0.75rem;
  font-weight: bold;
}

.headerCheckList .sucessHeaderCheck h3 {
  color: var(--purple);
  font-weight: bold;
}

.headerCheckList .sucessHeaderCheck span {
  color: var(--gray-200);
  background-color: var(--gray-500);
  padding: 0.3rem 0.8rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
}